<%- include('../_partial/_header'); -%>

<%- include('../_partial/_select_agent'); -%>


<div class="col-md-10"> <!-- RHS column -->
    <!--<h1>Inspections completed by <%= agent_data['agent_name'] %></h1>-->
    <div class="row"> <!-- top row -->
        <h4># Inspections: <%= agent_data['number_of_inspections']%></h4>
        <h4>Average Score: <%= agent_data['avg_score']%></h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="agentCanvas"></canvas>
        </div>

        <div class="col-md-6">
            <h4><div id="map"></div></h4>
        </div>
    </div>
    <row>
        <!-- the row below the bar chart -->
    </row>

</div>
</div> <!-- ends the row div, place columns above this-->

<!-- Google maps plotting-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAH_H9EYGbVq07pReSI_32NAh1iODKDyno&callback=initMap&libraries=&v=weekly"defer></script>
<style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    }
</style>
<script>
    
    // Initialize and add the map
    function initMap() {
    
    // The location of Townsville
    const townsville = { lat: -19.288, lng: 146.763 };
    // The map, centered at Townsville
    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 11,
        center: townsville,
    });
    <% agent_data['GPS_data'].forEach(function(street_location) { %>
        var audit_index = <%-agent_data['GPS_data'].indexOf(street_location)%>
        var address = <%- "'" +  street_location.addr + "'" %>;
        var coordinates = {lat:<%- street_location.long %>,lng: <%- street_location.lat %>}
        var audit_id =  <%- "'" + audits[agent_data['GPS_data'].indexOf(street_location)].audit_id + "'"%>
        var infowindow = new google.maps.InfoWindow({
            content: address,
        });
        var marker = new google.maps.Marker({
            position: coordinates,
            map: map,
        });
        google.maps.event.addListener(marker, 'click', (function(marker, audit_index) {
        return function() {
          var contentString = <%- "'" +  street_location.addr + "'" %>;
          infowindow.setContent(contentString);
          infowindow.open(map, marker);
        }
        })(marker, audit_index));
        console.log(audit_index)
        
    <% }) %>

    // pop-up text
    // The marker, positioned in Townsville
    /*
    var marker = new google.maps.Marker({
        position: my_dict,
        map: map
        //label: {text: "Townsville...You will never find a more wretched hive of scum and villainy. We must be cautious"}
    });
    marker.addListener("click", () => {
        infowindow.open(map, marker);
    });
    */
    }
    
</script>


<script> // graph plotting using Chartjs
    // Global Options
    var agentCanvasjs = document.getElementById('agentCanvas').getContext('2d');

    Chart.defaults.global.defaultFontFamily.Chart = 'Lato';
    Chart.defaults.global.defaultFontSize.Chart = 18;
    Chart.defaults.global.defaultFontColor.Chart = '#000';
    Chart.defaults.global.hover.mode = 'nearest';
    var timeFormat = 'DD/MM/YYYY';
    barChartData = {
                labels: [<%- "'"+ agent_data['day_labels'].join("','") + "'" %>],
                datasets: [{
                label: <%- "'"+ '# of Inspections by ' + agent_data['agent_name'] + "'"%> ,
                data: [<%=agent_data['daily_audit_data'] %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)','rgba(54, 162, 235, 0.2)','rgba(255, 206, 86, 0.2)','rgba(75, 192, 192, 0.2)','rgba(153, 102, 255, 0.2)','rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)','rgba(54, 162, 235, 1)','rgba(255, 206, 86, 1)','rgba(75, 192, 192, 1)','rgba(153, 102, 255, 1)','rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
                }]
            };
    barChartOptions = {
                aspectRatio: 1.5,
                title:{
                    display:true,
                    text:<%- "'"+ '2020 Inspections by ' + agent_data['agent_name'] + "'"%>,
                    fontSize: 20,
                    fontColor: '#000'
                },
                legend:{
                    display: false, // set to true to show the legend
                    position:'right',
                    labels:{
                        fontColor: '#000'
                    }
                },
                layout:{
                    padding:{
                        left:0, right:0, bottom:0, top:0
                    }
                },
                scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Number of Inspections'
                    }
                }],
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: false,
                        labelString: 'Time'
                    }
                }]
                }

            };

    var agentChart = new Chart(agentCanvasjs, {
        type:'bar', // bar, horizontal, pie, line, doughnut, radar, polarArea
        data:barChartData,
        options:barChartOptions
    });
</script>

<%- include ('../_partial/_footer'); -%>