<%- include('../_partial/_header'); -%>

<%- include('../_partial/_select_agent'); -%>
<div class="col-md-6">
    <h1>Inspections completed by <%= audits[0].agent_name %></h1>
    <% audits.forEach(function(audit) { %>
    <h4><%= audit.location['address'] %></h4>
    <% }) %>
</div>
</div> <!-- ends the row div, place columns above this-->


<%- include ('../_partial/_footer'); -%>