<%- include('../_partial/_header'); -%>

<%- include('../_partial/_select_agent'); -%>

<script>
    
</script>
<div class="col">
    <h1>Inspections completed by <%= agent_data['agent_name'] %></h1>
    <h4># Inspections: <%= agent_data['number_of_inspections']%></h4>
    <h4>Average Score: <%= agent_data['average_score']%></h4>
</div>
</div> <!-- ends the row div, place columns above this-->


<%- include ('../_partial/_footer'); -%>